name: Webhook on Main Push

on:
    push:
        branches:
            - main

jobs:
    trigger-webhook:
        runs-on: ubuntu-latest
        steps:
            - name: Send Payload to Webhook
              env:
                  TARGET_URL: ${{ secrets.WEBHOOK_URL }}
              run: |
                  curl -X POST \
                    -H "Content-Type: application/json" \
                    -d '${{ toJson(github.event) }}' \
                    "$TARGET_URL"
